header{
    background-color: var(--main-bg-white);
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid var(--main-border-color);

    #brand{
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--accent-color);
        margin-left: 1rem;
        cursor: pointer;
        span{
            font-size: .5rem;
            vertical-align: super;
        }
    }

    #main-search{
        width: 700px;
        border-radius: .5rem;
        height: 40px;
        transition: ease-in-out .2s;
        background-color: var(--secondary-bg-off-white);

        label{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 1rem;
        }
        i{
            font-size: var(--i-font-size);
            margin-right: 1rem;
            color: var(--input-text-color);
        }
        input{
            width: 100%;
            border: none;
            font-size: 1rem;
            color: #000;
            background-color: transparent;
            outline: none;
            &::placeholder{
                color: var(--input-text-color);
            }
        }
    }

    #controls{
        height: 50px;
        #auth-button{
            background-color: var(--main-blue);
            &:hover{
                background-color: var(--main-blue-off-light);
            }
            &:active{
                background-color: var(--main-blue);
            }
        }
        #add-new-product-button{
            background-color: var(--accent-color);
            display: flex;
            align-items: center;
            justify-content: center;
            &:active{
                background-color: var(--accent-color-off-light);
            }
        }
        #auth-button,
        #add-new-product-button{
            color: var(--main-bg-white);
            border-radius: 0;
            border: none;
            font-size: 1.2rem;
            padding: 0 1rem;
            width: 180px;
            text-align: center;
            i{
                margin-right: .5rem;
            }
        }
    }
    // end of header
}