header{
    background-color: var(--main-bg-white);
    width: 100vw;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid var(--main-border-color);
    position: fixed;
    top: 0;

    #brand{
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--accent-color);
        margin-left: 1rem;
        cursor: pointer;
    }

    #main-search{
        width: 700px;
        border-radius: .5rem;
        height: 40px;
        transition: ease-in-out .2s;
        background-color: var(--secondary-bg-off-white);

        label{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 1rem;
        }
        i{
            font-size: var(--i-font-size);
            margin-right: 1rem;
            color: var(--input-text-color);
        }
        input{
            width: 100%;
            border: none;
            font-size: 1rem;
            color: #000;
            background-color: transparent;
            outline: none;
            &::placeholder{
                color: var(--input-text-color);
            }
        }
    }

    #controls{
        height: var(--header-height);
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        
        button{
            outline: none;
            border: none;
            font-size: 1.18rem;
        }

        #auth-button{
            width: 200px;
            height: var(--header-height);
            color: var(--main-bg-white);
            background-color: var(--main-blue);
            transition: ease-in-out .2s;
            
            &:hover{
                background-color: var(--main-blue-off-light);
            }
            &:active{
                background-color: var(--main-blue);
            }

        }

        #guest-drop-down{
            color: var(--main-text-color);
            margin-right: 1rem;
            background-color: var(--main-bg-white);
            width: calc(var(--header-height) - 10px);
            height: calc(var(--header-height) - 10px);
            text-align: center;

            &:hover{
                color: var(--main-blue-off-light);
            }
            &:active{
                border-radius: 50%;
                background-color: var(--input-text-color);
            }
        }
    }
    // end of header
}