@import "../../../_mixins.scss";

header{
    background-color: var(--main-bg-white);
    width: 100vw;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid var(--main-border-color);
    position: fixed;
    top: 0;

    #left-most-action{
        display: flex;
        align-items: center;
    
        width: fit-content;
    }

    #main-search{
        width: 700px;
        border-radius: .5rem;   
        height: 40px;
        transition: ease-in-out .2s;
        background-color: var(--secondary-bg-off-white);

        label{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 1rem;
        }
        i{
            font-size: var(--i-font-size);
            margin-right: 1rem;
            color: var(--input-text-color);
        }
        input{
            width: 100%;
            border: none;
            font-size: 1rem;
            color: #000;
            background-color: transparent;
            outline: none;
            &::placeholder{
                color: var(--input-text-color);
            }
        }
    }


    #controls{
        display: flex;
        align-items: center;


        #auth-button{
            margin-left: .5rem;
            width: 170px;
            height: var(--header-height);
            color: var(--main-bg-white);
            background-color: var(--main-blue);

            font-size: 1.3rem;
            span{margin-left: .5rem;}
            border-radius: 0;
        }
    }

    // end of header
}