<header>

    <div id="brand" routerLink="/home">
        <i class="bi bi-bag"></i>
        sayara
    </div>

    <div id="main-search">
        <label>
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search">
        </label>
    </div>

    <div id="controls" class="d-flex">

        <app-toggle-menu></app-toggle-menu>
        <button id="auth-button">
            <i class="bi bi-person"></i>
            Log in
        </button>
    </div>

    <!-- end of header -->
</header>