<section id="contact-us">
    <main>
        <header>
            <h1>Get in touch</h1>
        </header>

        <section>
            <p>
                <app-logo textSize="80px"></app-logo> would love to hear from you!
            </p>
            <p>
                Email:
                <a href="mailto:jesaym4real@gmail.com">jesaym4real@gmail.com</a>
            </p>
            <p>
                There's a problem? please submit a bug report on our open source <a href="https://github.com/openSource-jesaym/sayara.tn/issues" target="_blank">GitHub repository</a>.
            </p>
            <p>Want a new feature? please strart a discussion on our <a href="https://github.com/openSource-jesaym/sayara.tn/discussions">GitHub repository</a></p>
        </section>
    </main>
</section>