<main>

    <header>
        <h1>About <span>sayara.tn</span></h1>
    </header>

    <section>
        <h2>What is it?</h2>
        <p>
            <span>sayara.tn</span> is an open source project that aims to provide a free and simple online marketplace where you can trade, sell or buy goods from the comfort of your home.
        </p>
    </section>
    <section>
        <h2>Team</h2>
        <img src="/assets/images/v991-nt-37.jpg" alt="team">
        <p><span>sayara.tn</span> is mainly maintained by #JesAym co-founders <a href="https://github.com/bedouijesser">Jesser Bedoui</a> and <a href="https://github.com/AymKh">Aymen Khedhria</a> </p>
        <p>
            Since the project is open source, we get a lot of contributions on GitHub.
        </p>
        <ul>
            <li><a href="#">githubUserNameHere</a></li>
        </ul>
    </section>
</main>