@import "./../../../../_mixins.scss";


#faq{
    width: calc(100vw - var(--sidebar-width));
main{
    @include footer-pages;
    .question{
        font-weight: bold;
        margin-top: 1rem;
    }
}
}