<section id="faq">
    <main>
        <header>
            <h1>Frequently asked questions (not really)</h1>
        </header>
    
        <section>
            <p>Here's a list of questions asked about <span>sayara.tn</span>, If you have a question that still remains unanswered please <a routerLink="/contact">let us know</a></p>
            
            <ng-container>
                <div class="question">
                    What is this?
                </div>
                <p>You shold probably check out the <a routerLink="/about">About</a> page first.</p>
            </ng-container>
            <ng-container>
                <div class="question">
                    Who can post here?
                </div>
                <p>Any user with an active account can post to <span>sayara.tn</span>.</p>
            </ng-container>
            <ng-container>
                <div class="question">
                    What can I buy?
                </div>
                <p>The platform categorieses published goods into (sports, vehicles, animals, books, clothes, and computers), Users can ofcourse choose to be creative (wink*). </p>
            </ng-container>
            <ng-container>
                <div class="question">
                    I found a security vulnerability, how do I report it?
                </div>
                <p>Please <a routerLink="/contact">contact</a> us.</p>
            </ng-container>
        </section>
    </main>
</section>