<a routerLink="#" mat-menu-item [ngStyle]="{'width': '200px'}">
    <mat-icon>language</mat-icon>
    <span>Language</span>
</a>
<!-- general links -->
<a routerLink="#" mat-menu-item>
    <mat-icon>dark_mode</mat-icon>
    <span>Theme</span>
</a>

<mat-divider></mat-divider>

<a routerLink="/faq" mat-menu-item>
    <mat-icon>question_answer</mat-icon>
    <span>FAQ</span>
</a>
<a routerLink="/contact" mat-menu-item>
    <mat-icon>local_post_office</mat-icon>
    <span>Contact</span>
</a>
<a routerLink="/about" mat-menu-item>
    <mat-icon>help_center</mat-icon>
    <span>About</span>
</a>
<a routerLink="/feedback" mat-menu-item>
    <mat-icon>forum</mat-icon>
    <span>Feedback</span>
</a>