section{
    position: relative;
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    overflow-y: scroll;
    #products-spinner{
        position: absolute;
        top: 30px;
        right: 50%;
        color:  var(--accent-color);
    }

    #products-grid-template{
        margin: auto;
        width: 100%;
        max-width: 2024px;
        padding: 1rem 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}