:root{
    // colors
    --main-bg-white: #fffefe;
    --off-white-bg-color: #f8f9f8;
    --main-border-color: #CCCCCC;
    --main-blue: #0065FF;
    --main-blue-off-light: #0052CC;
    --accent-color: #e64b41;
    --accent-color-off-light: #f87172;
    --secondary-bg-off-white: #eceef1;
    --third-bg-off-white: #f7fafc;
    --fourth-bg-off-white: #a8afb9;
    --input-text-color: #b4bdc9;
    --main-text-color: #000000;

    // sizes
    --i-font-size: 1.2rem;
    --wide-width: 800px;
    --header-height: 56px;
}