/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--off-white-bg-color);
}

@mixin footer-pages {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 2rem;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.25rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-white);
    border: 1px solid var(--main-border-color);
    border-radius: .5rem;

    h2{
        font-size: 2rem;
        margin-top: 2rem;
    }

    span{
        font-weight: bold;
        color: var(--accent-color);
    }
    header{
        margin-bottom: 2rem;
        h1{
            font-size: 2.5rem;
            font-weight: bold;
            color: var(--main-text-color);
        }
    }
}



@import './variables';