#main-sidebar{
    width: 240px;
    height: calc(100vh - var(--header-height));
    position: absolute;
    z-index: 3;
    padding: 0 .2rem;
    overflow-y: scroll;
    background-color: var(--main-bg-white);
    
    a{
        display: flex;
        height: 40px;
        padding: 0 24px;
        color: var(--main-text-color);
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        align-items: center;
        i{
            font-size: 1.4rem;
            padding-right: 24px;
        }

        &:hover{
            background-color: var(--off-white-bg-color);
        }
    }
    .active{
        background-color: var(--off-white-bg-color);
        font-weight: 500;
    }

    #upperSection{
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--main-border-color);
    }

    #categories{
        h3{
            // text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            padding: 8px 24px;
            margin: 0;
            color: var(--main-text-color);
        }
    }

    &::after{
        content: '';
        position: absolute;
        top: 10px;
        right: -10px;
        height: 24px;
        width: 24px;
        z-index: 4 !important;
        background-color: red;
    }
}