#main-sidebar{
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    padding: 0 .2rem;
    overflow: -moz-hidden-unscrollable;
    position: relative;
    background-color: var(--main-bg-white);
    border-right: 1px solid var(--main-border-color);
    scrollbar-width: none;  /* Firefox */
    a{
        display: flex;
        height: 40px;
        padding: 0 24px;
        color: var(--main-text-color);
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        align-items: center;
        i{
            font-size: 1.4rem;
            padding-right: 24px;
        }

        &:hover{
            background-color: var(--off-white-bg-color);
        }
    }
    .active{
        background-color: var(--off-white-bg-color);
        font-weight: 500;
    }

    #upperSection{
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--main-border-color);
    }

    #categories{
        h3{
            // text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            padding: 8px 24px;
            margin: 0;
            color: var(--main-text-color);
        }
    }

    #sidebar-trigger{
        position: absolute;
        top: 50px;
        right: -10px;
        cursor: pointer;
        height: 26px;
        width: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--main-border-color);
        i{
            font-size: 24px;
            color: var(--main-bg-white);
        }
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar{
        width: 0px;
    }
}