<nav id="main-sidebar">

    <div id="upperSection">
        <a href="#">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
        </a>
        <a href="#">
            <i class="bi bi-shop"></i>
            <span>Shops</span>
        </a>
        <a href="#">
            <i class="bi bi-view-list"></i>
            <span>Subscription</span>
        </a>
        <a href="#">
            <i class="bi bi-stars"></i>
            <span>Surprise</span>
        </a>
    </div>

</nav>
