@import "./../../../styles.scss";

#main-sidebar{
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    padding: 0 .2rem;
    overflow: -moz-hidden-unscrollable;
    position: relative;
    background-color: var(--main-bg-white);
    border-right: 1px solid var(--main-border-color);
    scrollbar-width: none;  /* Firefox */
    position: fixed;
    left: 0;
    z-index: 5;

    a{ @include link-basic-styling; }

    .active{
        background-color: var(--off-white-bg-color);
        font-weight: 500;
    }

    #categories, #other{
        h3{
            // text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            padding: 8px 24px;
            margin: 0;
            color: var(--main-text-color);
        }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar{
        width: 0px;
    }
    animation: maximize-sidebar .1s ease-in-out;
}

#main-sidebar-minimized{
    width: 72px;
    height: calc(100vh - var(--header-height));
    padding: 0 .2rem;
    overflow: -moz-hidden-unscrollable;
    
    background-color: var(--main-bg-white);
    border-right: 1px solid var(--main-border-color);
    scrollbar-width: none;  /* Firefox */
    position: fixed;
    left: 0;
    z-index: 5;
    animation: minimize-sidebar .1s ease-in-out;

    a{ @include link-basic-styling; }

    .active{
        background-color: var(--off-white-bg-color);
        font-weight: 500;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar{
        width: 0px;
    }
}

@keyframes minimize-sidebar{
    0%{
        width: var(--sidebar-width);
    }
    100%{
        width: 72px;
    }
}

@keyframes maximize-sidebar{
    0%{
        width: 72px;
    }
    100%{
        width: var(--sidebar-width);
    }
}